{
  "pred_syn": "data/calyx/calyxpred_synapses.json",
  "outputdir": "results/calyx/",
  "dataset": "calyx",
  "synful_method": "synfulv01",
  "add_synaptic_cleft_score": false,
  "source_ids": "data/calyx/pn_ids_con.csv",
  "target_ids": "data/calyx/kc_ids_testset.csv",
  "gt_adj": "data/calyx/adj_matrix.csv"
}
