{
  "pred_syn": "data/lh_con/lh_conpred_synapses.json",
  "outputdir": "results/lh_con/",
  "dataset": "lh_con",
  "synful_method": "synfulv01",
  "add_synaptic_cleft_score": false,
  "source_ids": "data/lh_con/adj_neuron_ids.csv",
  "target_ids": "data/lh_con/adj_neuron_ids.csv",
  "gt_adj": "data/lh_con/LH_DONE_adjacency_within_LH_30092019.csv"
}
